<form action="/login" method="post">
	<style>
		h1 {text-align: center;}
		p {text-align: center;}
		div {text-align: center;}
		img {text-align: center;}
	</style>
	<div>
	    <br/>
		<h1>Welcome to Rest API Response Viewing Portal<br>for <br>Riga KPIs</h1>
		<br/><br/>		
		<img src="images/Tharindu.png" alt="Developer" width="200" height="200">
		<br/><br/><br/><br/><br/><br/><br/>		
		<label>Username:</label>
		<input type="text" name="username"/><br/>
		<br/>
	</div>
	<div>
		<label>Password:</label>
		<input type="password" name="password"/><br/>
		<br/>`
	</div>
	<div>
		<input type="submit" value="Submit"/>
	</div>
</form>
